# MacOS
.DS_Store

# IDE
.vscode
.idea/
.un~

# Go prof output
*.prof

# Test files
*.rlp

# Go test output
*/*.test
*/*.out
fuzzing/
**/coverage.txt

# Build output
build
dist

# Dependencies
vendor
glide.lock

# patches and diff files
*.patch
*.diff

# gomobile compilation output
*.aar
*.jar

# archives
*.tar.gz
*.tgz
*.zip

# Sonic specific
*.log
*.graph
*.gv
*.finality
testnet.g

# Backup copies
*~
*.bak

.#*

