# MacOS
.DS_Store

# IDE
.vscode
.idea/
.un~

# Go prof output
*.prof

# Test files
*.rlp

# Go test output
*/*.test
*/*.out
fuzzing/
**/tmp

# Build output
**/build
dist

# Dependencies
vendor
glide.lock

# patches and diff files
*.patch
*.diff

# gomobile compilation output
*.aar
*.jar

# archives
*.tar.gz
*.tgz
*.zip

# Sonic specific
!*.go
*.log
*.graph
*.gv
*.finality
testnet.g

# Backup copies
*~
*.bak

.#*

**/coverage.txt

# demo files
demo/*.datadir
demo/tool.datadir
demo/*.log

# contract compilation files
gossip/contract/solc/*.json
gossip/contract/solc/*.abi
gossip/contract/solc/*.bin
gossip/contract/solc/*.bin-runtime
